@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  word-wrap: break-word;
}

body {
  background-color: #0c0c0c;
  background-image:
    linear-gradient(rgb(22, 22, 22) 2px, transparent 2px),
    linear-gradient(90deg, rgb(22, 22, 22) 2px, transparent 2px),
    linear-gradient(rgb(22, 22, 22) 0.1px, transparent 2px),
    linear-gradient(90deg, rgb(22, 22, 22) 0.1px, transparent 2px);
  background-size: 80px 80px, 80px 80px, 20px 20px, 20px 20px;
  background-position: -200px -200px, -200px -200px, -100px -100px, -100px -100px;
  color: #f7f7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cont {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

a {
  text-decoration: none;
  color: rgb(18, 167, 105);
}

a:hover {
  color: rgb(16, 151, 95);
}

.sp{
  background: rgb(18, 167, 105);
  width: 150px;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 2px;
}

.spb {
  background-color:  #f7f7e70e;
  border-radius: 15px;
  padding: 20px 25px;
  height: auto;
  margin-bottom: 25px;
  outline: none;
  border: 2px solid #f7f7e71c;
  width: 100%;
  max-width: 380px;
  color: #f7f7e7;
  letter-spacing: 1.1px;
}

.spb:focus {
  border: 2px solid #f7f7e733;
}

.heckbtn{
  background-color: rgb(18, 167, 105);
  border-radius: 15px;
  padding: 10px;
  height: auto;
  margin-bottom: 25px;
  outline: none;
  border: 2px solid #f7f7e71c;
  width: 50%;
  max-width: 200px;
  color: #f7f7e7;
  cursor: pointer;
}

.heckbtn:hover{
  background-color: rgb(16, 151, 95);
}

.title{
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 20px;
}


.me{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 40px;
  background-color: rgba(18, 167, 105, 0.274);
  display: grid;
  place-items: center;
  border-top-left-radius: 10px;
}

.me a{
  color: #f7f7e7;
  letter-spacing: 3px;
  text-decoration: none;
}

.me a:hover{
  opacity: 0.5;
}